---
import Logo from "../Logo/Logo.astro"
import { LanguageSelector } from "astro-i18next/components"
import { localizePath } from "astro-i18next"
---

<div class="navbar transition-all md:px-5">
	<div class="navbar-start">
		<a class="" href={localizePath("/")} rel="prefetch">
			<Logo />
		</a>
	</div>
	<div class="navbar-end">
		<LanguageSelector
			showFlag={true}
			class="my-select-class select select-bordered select-md 0 text-base-content hidden w-full max-w-[10rem] px-5 md:block"
		/>

		<a
			href={localizePath("/auth")}
			aria-label="login"
			rel="prefetch"
			class="btn btn-primary ml-3 h-10 px-5 text-base shadow-none"
		>
			Login
		</a>
	</div>
</div>
