---
import Logo from "../Logo/Logo.astro"
import { LanguageSelector } from "astro-i18next/components"
import { localizePath } from "astro-i18next"
---

<div class="navbar md:px-5 transition-all">
	<div class="navbar-start">
		<a class="" href={localizePath("/")} rel="prefetch">
			<Logo />
		</a>
	</div>
	<div class="navbar-end">
		<LanguageSelector
			showFlag={true}
			class="hidden md:block my-select-class select select-bordered select-md w-full max-w-[10rem] 0 text-base-content px-5"
		/>

		<a
			href={localizePath("/auth")}
			aria-label="login"
			rel="prefetch"
			class="ml-3 btn btn-primary h-10 px-5 shadow-none text-base"
		>
			Login
		</a>
	</div>
</div>
