---
import Logo from "../Logo/Logo.astro"
import { LanguageSelector } from "astro-i18next/components"
import { localizePath } from "astro-i18next"
import { Image } from "@astrojs/image/components"
import { Icon } from "astro-iconify"
import SearchHeader from "./SearchHeader.tsx"

import { getMe } from "../../../../common/utils/user"

const jwt = Astro.cookies.get("jwt")?.value

const user = await getMe(jwt).then((res) => res.data)

const avatar = user?.avatar
	? user.avatar
	: "https://source.boringavatars.com/beam/120/" +
	  user.username +
	  "?colors=070705,3E4B51,6F737E,89A09A,C1C0AE"
---

<div class="navbar md:px-5 transition-all">
	<div class="navbar-start">
		<a class="" href={"/"} rel="prefetch">
			<Logo />
		</a>
	</div>
	<div class="navbar-end">
		<SearchHeader client:idle class="" />

		<LanguageSelector
			showFlag={true}
			class="hidden md:block my-select-class select select-bordered select-md w-full max-w-[10rem] text-base-content px-5"
		/>

		<div class="dropdown dropdown-end pl-5 w-16">
			<label
				tabindex="0"
				class="avatar rounded-xl mask mask-squircle hover:cursor-pointer"
			>
				<Image
					src={avatar}
					loading={"eager"}
					decoding={"async"}
					alt={user?.username}
					format={"webp"}
					quality={60}
					width={64}
					height={64}
				/>
			</label>
			<ul
				tabindex="0"
				class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4"
			>
				<li><a href="logout">logout</a></li>
			</ul>
		</div>
	</div>
</div>
