---
import {Image} from "astro:assets"
import Logo from "@img/icon.png"
---

<span
	class="hoveranimation ml-2 flex items-center self-center whitespace-nowrap text-2xl font-bold md:text-xl"
>
	<Image
		src={Logo}
		class="mr-1 inline-block w-12"
		loading={"eager"}
		decoding={"async"}
		alt="Logo"
		quality={20}
		width={64}
		height={64}
		format={"avif"}
	/>
	<h2
		class="from-primary to-secondary text-primary via-[#CC7F97] bg-clip-text text-4xl font-bold dark:bg-gradient-to-r dark:text-transparent"
	>
		Memnix
	</h2>
</span>
