---
// Component imports
import  SEO from "../utils/SEO.astro"

// Style imports
import "@style/tailwind.css"

import  HeadHrefLangs  from "../utils/HeadHrefLangs.astro"

// Helper imports
import { seoConfig } from "@util/seoConfig"
import { dataWebsiteId } from "@util/config"

// Import fonts
import "@fontsource/syne"
import "@fontsource/nunito"
import { pwaInfo } from "virtual:pwa-info"
import i18next from "i18next";

// Props
export interface Props {
	/** Title of the page. */
	title: string

	/** Specific OpenGraph page title. */
	ogTitle?: string

	/** Description of the page. */
	description?: string

	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props
---

<html lang={i18next.language}>
	<head>
		<title>{title}</title>

		<!-- SEO -->
		<SEO />

		<!-- I18n tags -->
		 <HeadHrefLangs />

		<!-- Google Fonts -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
			crossorigin="anonymous"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin="anonymous"
		/>

		<script
			async
			data-website-id={dataWebsiteId}
			src="https://umami.memnix.app/script.js"
		></script>



		<!-- PWA -->
		<link rel="manifest" href="/manifest.webmanifest" />
	</head>
	<body class="flex min-h-screen w-full flex-col overflow-x-hidden">
		<!-- Header -->
		<main class="flex h-[100%] w-full flex-1 flex-col">
			<slot />
		</main>
	</body>
</html>
