---
import { Layout } from "@globals";
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Auth from "../../../components/index/Auth";
import { localizePath } from "astro-i18next";
import { isConnected } from "../../../../common/utils/security";
import { baseUrl } from "../../../../common/utils/utils";
import { ENDPOINTS } from "../../../../common/utils/endpoints";
import { Icon } from "astro-iconify";

changeLanguage("de");

setDefaultNamespace("common");
const jwt = Astro.cookies.get("jwt")?.value;
if (jwt && (await isConnected(jwt))) {
    return Astro.redirect(localizePath("/dashboard"));
}
const labels = t("auth", { returnObjects: true });
---

<Layout title="Memnix">
	<div class="py-6 sm:py-8 lg:py-12">
		<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
			<h2 class="mb-4 text-center text-2xl font-bold md:mb-8 lg:text-3xl">
				{t("auth.login")}
			</h2>

			<div class="mx-auto max-w-lg rounded-lg border">
				<Auth labels={labels} client:load />
				<div class="flex flex-col gap-4 px-4">
					<div class="relative flex items-center justify-center">
						<span class="bg-base-content absolute inset-x-0 h-px"></span>
						<span class="bg-base-100 relative px-4 text-sm">
							Log in with social
						</span>
					</div>

					<a
						href={baseUrl + ENDPOINTS.Security.github}
						class="btn-accent btn flex items-center justify-center gap-2 px-8 py-2 transition duration-100"
					>
						<Icon
							name="lucide:github"
							height="none"
							style={{ height: "100%" }}
						/>
						Continue with github
					</a>
					<a
						href={baseUrl + ENDPOINTS.Security.discord}
						class="btn-secondary btn flex items-center justify-center gap-2 px-8 py-2 transition duration-100"
					>
						<Icon
							name="ic:baseline-discord"
							height="none"
							style={{ height: "100%" }}
						/>
						Continue with discord
					</a>
				</div>

				<div class="flex items-center justify-center p-4">
					<p class="text-center text-sm">
						Don't have an account?{" "}
						<a
							href={localizePath("/register")}
							class="text-secondary transition duration-100"
						>
							Register
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
