---
import { Icon } from "astro-iconify"
import { setDefaultNamespace, t } from "i18next"

setDefaultNamespace("discover")

const items = [
	[
		{
			title: t("features.personalized_learning"),
			description: t("features.personalized_learning_description"),
			icon: "subway:world"
		},
		{
			title: t("features.modern"),
			description: t("features.modern_description"),
			icon: "ion:rocket-sharp"
		}
	],
	[
		{
			title: t("features.open_source_free"),
			description: t("features.open_source_free_description"),
			icon: "ri:open-source-fill"
		},
		{
			title: t("features.accessible"),
			description: t("features.accessible_description"),
			icon: "lucide:feather"
		}
	]
]
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			<p class="text-base text-primary font-semibold tracking-wide uppercase">
				{t("features.features")}
			</p>
			<h2
				class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
			>
				{t("features.what_you_get")}
			</h2>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex max-w-md flex-row">
								<div class="mb-4 mr-4">
									<div class="flex h-12 w-12 items-center justify-center rounded-full">
										<Icon name={icon} />
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p class="">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
