---
// Component imports
import { Layout } from "@globals";
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Auth from "../../components/index/Auth";

changeLanguage("de");

export const prerender = true;
setDefaultNamespace("common");
---

<Layout title="Memnix">
	<div class="py-6 sm:py-8 lg:py-12">
		<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
			<h2 class="mb-4 text-center text-2xl font-bold md:mb-8 lg:text-3xl">
				{t("auth.login")}
			</h2>

			<div class="mx-auto max-w-lg rounded-lg border">
				<Auth client:idle />

				<div class="flex items-center justify-center p-4">
					<p class="text-center text-sm">
						Don't have an account?{" "}
						<a href="#" class="text-secondary transition duration-100">
							Register on our discord
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
